body {
  color: #40514E;
  font-family: 'Merriewather',serif;
  text-align: center;
}

h1 {
  color: #66BFBF;
  font-size: 5rem;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
}

h2{
  color: #66BFBF;
  font-size:2.5rem;
  font-family: 'Montserrat', sans-serif;
  padding-bottom: 10px;
}
h3{
  color: #11999E;
  font-size: 2rem;
  font-family: 'Montserrat', sans-serif;
}


p{
  line-height: 2;
}

a{
  color: #11999E;
  margin: 10px 20px;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
}

a:hover{
  color:white;
}
hr{
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 5%;

}

.top-container {
  background-color: #E4F9F5;
  padding-top: 100px;
  position: relative;
}

.middle-container{
  margin: 100px 0;
}

.bottom-container{
  background-color: #66BFBF;
  padding:50px 0 20px;

}

.simple {
  display: inline-block;
  text-decoration: underline;
  font-weight: normal;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 500px;
}


.skill-row{
  width: 50%;
  text-align: left;
  margin: 100px 100px 200px 200px;
}

.intro{
  width: 30%;
  margin: auto;

}

.prg-img{
  width: 25%;
  float: left;
  margin-right: 30px;
}
.con-img{
  width: 25%;
  float: right;
  margin-left: 30px;
}

.desc-text-sec{
  clear: right;
  color: #40514E;
}

.desc-text-con{
  clear: left;
  color: #40514E;
}

.contact-me{
  width: 40%;
  margin: 40px auto 60px;
}

.copyright{
  color: #EAF6F6;
  padding: 20px 0;
  font-size: 0.75rem;
}
.btn {
	-moz-box-shadow: 3px 4px 0px 0px #1564ad;
	-webkit-box-shadow: 3px 4px 0px 0px #1564ad;
	box-shadow: 3px 4px 0px 0px #1564ad;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #378de5) );
	background:-moz-linear-gradient( center top, #79bbff 5%, #378de5 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#378de5');
	background-color:#79bbff;
	-webkit-border-top-left-radius:5px;
	-moz-border-radius-topleft:5px;
	border-top-left-radius:5px;
	-webkit-border-top-right-radius:5px;
	-moz-border-radius-topright:5px;
	border-top-right-radius:5px;
	-webkit-border-bottom-right-radius:5px;
	-moz-border-radius-bottomright:5px;
	border-bottom-right-radius:5px;
	-webkit-border-bottom-left-radius:5px;
	-moz-border-radius-bottomleft:5px;
	border-bottom-left-radius:5px;
	border:1px solid #337bc4;
	display:inline-block;
	color:#ffffff;
	font-family:'Merriewather',serif;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
height:50px;
	line-height:50px;
width:140px;
	text-decoration:none;
	text-align:center;
	text-shadow:0px 1px 0px #528ecc;
}
.btn:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #378de5), color-stop(1, #79bbff) );
	background:-moz-linear-gradient( center top, #378de5 5%, #79bbff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#378de5', endColorstr='#79bbff');
	background-color:#378de5;

}
.btn:active {
	position:relative;
	top:1px;
}
